body{
	font: normal 13px/2em Verdana;
}
#gotoTop{
        background:url(../images/gTopa.png);
        display:none;
        width:64px;
        height:64px;
        position:fixed;
        bottom:50px;
        right:20px;
        text-indent:100px;
        cursor:pointer
}